
body {
  background: white;
}

p {
  color: black;
  font-size: 20px;
}

h2{
  text-align: center;
  color: #1b2525;
}

h1 {
  font-weight: bold;
  color: black; 
  font-style: oblique;
  text-align: center;
  font-size: 45px;

}
.nav{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;}

a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: #e7e4e4;
}
a:active {
  color: greenyellow;
}
a:hover {
  color: #e7e4e4;
  font-size: 25px;
}

a {
  text-align: center;
  padding: 20px;
  color: #ffffff;
}

.highlight:link{
  color: black;
  font-size: 20px;
  text-decoration: underline;
}
.highlight:visited{
  color: black;

}
.highlight:active {
  color: black;
  font-size: 25px;
}
.highlight:hover {
  color: #918585;
}

.group{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.imp {
  width: 900px;
  border-color: black;
  text-align: left;
  margin: 10px;
  align-items: center;

}
.facts {
  width: 550px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  text-align: left;
  margin: 10px;
  align-items: center;

}

img{
  width: 100%;
  border-style: groove;
  border-color: gray;
  border-width: 10px;
}

.veg{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

ul{
  font-size: 20px;
}
ol{
  font-size: 20px;
}


.gallery {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  margin: 20px;
  font-size: 25px;
}
.recipie-card {
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #141213;
  text-align: center;
  margin: 10px;
  align-items: center;
  flex-grow: 1;

}

.content {
  padding: 10px;
}

.recipie-card p {
  font-size: 25px;
  
}

.recipie-card ul {
  font-size: 25px;
}

.recipie-card ol {
  font-size: 25px;
}


